<header class="header" [ngStyle]="activeRout ? {'background-color': '#fff'} : {}">
  <div class="_container">
    <div class="header__wraper"
      [ngStyle]="!activeRout || activeRout === '/cart' ? {'justify-content': 'space-between'} : {}">
      <a routerLink="/" class="header__logo-link">
        <img src="assets/Logo.svg" alt="logo" class="header-logo">
      </a>
      <ul *ngIf="activeRout && activeRout !== '/cart'" class="page__menu">
        <li class="page__menu-item">
          <div class="page__num"
            [ngClass]="{'page__num-active': activeRout === '/flights', 'page__num-active-complete': activeRout !== '/' && activeRout !== '/flights'}">
            1
          </div>
          <div class="page__name">
            Flights
          </div>
        </li>
        <li class="separator"></li>
        <li class="page__menu-item">
          <div class="page__num"
            [ngClass]="{'page__num-active': activeRout !== '/' && activeRout !== '/flights', 'page__num-active-complete': activeRout === '/summary'}">
            2
          </div>
          <div class="page__name">
            Passengers
          </div>
        </li>
        <li class="separator"></li>
        <li class="page__menu-item">
          <div class="page__num"
            [ngClass]="{'page__num-active': activeRout !== '/' && activeRout !== '/flights' && activeRout !== '/details'}">
            3
          </div>
          <div class="page__name">
            Review & Payment
          </div>
        </li>
      </ul>
      <div class="header__forms" [ngStyle]="!activeRout || activeRout === '/cart'? {'gap': '2.5rem'} : {}">
        <h2 *ngIf="!activeRout && activeRout!== '/cart'" class="header__title">
          Book flights
        </h2>
        <app-header-from [arrayFrom]="dates"></app-header-from>
        <app-header-from [arrayFrom]="currencies"></app-header-from>
        <button class="header__button">
          <img [src]="activeRout ? 'assets/user-light.svg' : 'assets/User.svg'" alt="user" class="btn-user--img">
          Sing in
        </button>
        <a routerLink="/cart" class="header__shopping_basket-link">
          <img [src]="activeRout ? 'assets/shopping_basket-Light.svg' : 'assets/shopping_basket.svg'"
            alt="shopping_basket" class="shopping_basket-img">
        </a>
      </div>
    </div>
  </div>
</header>
