@import "../../../styles/variables.scss";

.header {
  background: $dark-grey-transparent;
  padding-top: 22px;
  padding-bottom: 24px;
}

.header__wraper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-logo {
  min-width: 115px;
}

.header__title {
  color: $white;
  font-size: $font-size-main;
  line-height: 24px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__forms {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__button {
  height: 40px;
  background-color: $gray-transparent;
  padding: 10px 21px 10px 16px;
  gap: 0.813rem;
  border: 0.5px solid $white-grey;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__shopping_basket-link {
  cursor: pointer;
}

.page__menu {
  display: flex;
  gap: 0.521rem;
  align-items: center;
}

.page__menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.page__num {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 16px;
  height: 16px;
  background-color: $light-gray;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  color: $white;
}

.page__num-active {
  font-size: 0;
  background-color: $light-blue;
  background-image: url("/assets/active.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page__num-active-complete {
  font-size: 0;
  background-color: $light-blue;
  background-image: url("/assets/complete.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page__name {
  font-size: $font-size-average;
  font-weight: $font-weight-default;
  letter-spacing: 0.1px;
  line-height: 20px;
  color: $light-gray;
}

.separator {
  height: 1px;
  background: rgba(116, 118, 122, 0.6);
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 79px;
}

.shopping_basket-img {
  min-width: 22px;
}

@media (max-width: 1130px) {
  .header__wraper{
    gap: 0.8rem;
  }
  .separator{
    width: 45px;
  }
}
