<div *ngIf="selectedDate.tickets[0] as ticket; else noTicket" class="ticket">
  <div class="flight-info">
    {{ ticket.flightNum }}
  </div>
  <div class="cuopon">
    <div class="cuopon__data">
      <div class="seats" [appFlightSeatsAvailability]="ticket.seats">
        {{ ticket.seats.available }} seats available
      </div>
      <div class="price" *ngIf="currencyCode$ | async as currencyCode">
        <p>Price</p>
        <p>{{ ticket.price[currencyCode] | currency : currencyCode }}</p>
      </div>
    </div>
    <div class="cuopon__confirm">
      <button mat-button class="select-ticket-btn">Select</button>
    </div>
  </div>
</div>

<ng-template #noTicket>
  <div class="no-ticket">
    <p>
      There are no eligible tickets on
      {{ selectedDate.date | date : "dd MMM yyyy" }}. Choose another date.
    </p>
  </div>
</ng-template>
