@import "./reset.scss";
@import "./variables.scss";
@import "./material.scss";
@import "./material-reset.scss";

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", "sans-serif";
}

._container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
}
