$primary-blue: rgba(17, 57, 126, 1);
$white: #ffffff;
$white-grey: #cecece;
$gray-transparent: rgba(241, 243, 246, 0.15);
$light-gray: #74767a;
$dark-grey-transparent: rgba(116, 118, 122, 0.2);
$light-blue: #0090bd;

$font-weight-bold: 600;
$font-weight-default: 500;

$font-size-small: 12px;
$font-size-average: 14px;
$font-size-main: 16px;
