.mat-mdc-form-field {
  min-height: 0 !important;
  height: 40px !important;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix {
  padding-top: 0 !important;
}
