<div class="loader" *ngIf="isLoading$ | async; else container">Loading...</div>

<ng-template #container>
  <ng-container
    *ngTemplateOutlet="(error$ | async) ? error : content"
  ></ng-container>
</ng-template>

<ng-template #error>
  <div class="error">
    {{ error$ | async }}
  </div>
</ng-template>

<ng-template #content>
  <div class="content" *ngIf="tickets$ | async as tickets">
    <h3 class="destination">Dublin to Warsaw</h3>
    <app-flight-date-select [flightDates]="tickets"></app-flight-date-select>
    <app-ticket></app-ticket>
  </div>
</ng-template>
