<div class="data" *ngIf="ticketsData$ | async as ticketsData">
  <div class="loader" *ngIf="ticketsData.isLoading; else container">
    Loading...
  </div>

  <ng-template #container>
    <ng-container
      *ngTemplateOutlet="ticketsData.error ? error : content"
    ></ng-container>
  </ng-template>

  <ng-template #error>
    <div class="error">
      {{ ticketsData.error }}
    </div>
  </ng-template>

  <ng-template #content>
    <div class="content">
      <h3 class="destination">
        {{ ticketsData.from }} to {{ ticketsData.to }}
      </h3>

      <app-ticket
        *ngIf="selectedTicket$ | async as selectedTicket; else ticketsSelector"
        [ticket]="selectedTicket"
        [ticketType]="ticketType"
        [selected]="true"
      ></app-ticket>

      <ng-template #ticketsSelector>
        <app-flight-date-select
          class="date-select"
          *ngIf="viewDates$ | async as viewDates"
          [flightDates]="viewDates"
          (moveDatesEmitter)="moveDates($event)"
          (selectDateEmitter)="selectDate($event)"
        ></app-flight-date-select>
        <app-ticket
          class="ticket"
          *ngIf="selectedViewDate$ | async as viewDate"
          [ticket]="viewDate.tickets[0]"
          [ticketType]="ticketType"
          [selected]="false"
        ></app-ticket>
      </ng-template>
    </div>
  </ng-template>
</div>
