<div class="wrapper">
  <h3 class="shopping-cart__title">
    {{ checkPage() ? "Cart" : "Profile" }}
  </h3>
  <ul class="sort-elements__list">
    <li class="sort-element__item">
      No.
      <div class="sort-b">
        <div
          class="sort-up"
          [class.active-sort--btn]="sortName === 'No' && sortDirection === 'Up'"
          (click)="changeSortOrder('No', 'Up')"
        ></div>
        <div
          class="sort-down"
          [class.active-sort--btn]="
            sortName === 'No' && sortDirection === 'Down'
          "
          (click)="changeSortOrder('No', 'Down')"
        ></div>
      </div>
    </li>
    <li class="sort-element__item">
      Flight
      <div class="sort-b">
        <div
          class="sort-up"
          [class.active-sort--btn]="
            sortName === 'Flight' && sortDirection === 'Up'
          "
          (click)="changeSortOrder('Flight', 'Up')"
        ></div>
        <div
          class="sort-down"
          [class.active-sort--btn]="
            sortName === 'Flight' && sortDirection === 'Down'
          "
          (click)="changeSortOrder('Flight', 'Down')"
        ></div>
      </div>
    </li>
    <li class="sort-element__item">
      Type trip
      <div class="sort-b">
        <div
          class="sort-up"
          [class.active-sort--btn]="
            sortName === 'Trip' && sortDirection === 'Up'
          "
          (click)="changeSortOrder('Trip', 'Up')"
        ></div>
        <div
          class="sort-down"
          [class.active-sort--btn]="
            sortName === 'Trip' && sortDirection === 'Down'
          "
          (click)="changeSortOrder('Trip', 'Down')"
        ></div>
      </div>
    </li>
    <li class="sort-element__item">
      Data & Time
      <div class="sort-b">
        <div
          class="sort-up"
          [class.active-sort--btn]="
            sortName === 'Data' && sortDirection === 'Up'
          "
          (click)="changeSortOrder('Data', 'Up')"
        ></div>
        <div
          class="sort-down"
          [class.active-sort--btn]="
            sortName === 'Data' && sortDirection === 'Down'
          "
          (click)="changeSortOrder('Data', 'Down')"
        ></div>
      </div>
    </li>
    <li class="sort-element__item">Passengers</li>
    <li class="sort-element__item">
      Price
      <div class="sort-b">
        <div
          class="sort-up"
          [class.active-sort--btn]="
            sortName === 'Price' && sortDirection === 'Up'
          "
          (click)="changeSortOrder('Price', 'Up')"
        ></div>
        <div
          class="sort-down"
          [class.active-sort--btn]="
            sortName === 'Price' && sortDirection === 'Down'
          "
          (click)="changeSortOrder('Price', 'Down')"
        ></div>
      </div>
    </li>
  </ul>
  <div class="main__container">
    <ul class="tickets__list">
      <li
        class="tickets__item"
        *ngFor="let item of chosenTickets | sortCart : sortName : sortDirection"
      >
        <app-cart-item [cartItem]="item"></app-cart-item>
      </li>
    </ul>
    <div class="total__wrapper" *ngIf="checkPage()">
      <a class="new-trip" routerLink="/">+ Add new trip</a>
      <div class="total">
        Total
        <div class="sum">{{ currencyIcon }}{{ totalCost }}</div>
      </div>
    </div>
    <div class="pay__section" *ngIf="checkPage()">
      <div class="promo">
        <input
          type="text"
          placeholder="Promo Code"
          class="promo-input"
          [(ngModel)]="promoValue"
        />
        <button class="apply" (click)="applyPromo()">APPLY</button>
      </div>
      <div class="right-section">
        <div class="selected-amount">{{ selectedTicketsAmount }} selected</div>
        <button class="pay-b">Payment</button>
      </div>
    </div>
  </div>
</div>
