<div class="wrapper">
  <h3 class="shopping-cart__title">
    Cart
  </h3>
  <ul class="sort-elements__list">
    <li class="sort-element__item">
      No.
      <div class="sort-b">
        <div class="sort-up"></div>
        <div class="sort-down"></div>
      </div>
    </li>
    <li class="sort-element__item">
      Flight
      <div class="sort-b">
        <div class="sort-up"></div>
        <div class="sort-down"></div>
      </div>
    </li>
    <li class="sort-element__item">
      Type trip
      <div class="sort-b">
        <div class="sort-up"></div>
        <div class="sort-down"></div>
      </div>
    </li>
    <li class="sort-element__item">
      Data & Time
      <div class="sort-b">
        <div class="sort-up"></div>
        <div class="sort-down"></div>
      </div>
    </li>
    <li class="sort-element__item">
      Passengers
    </li>
    <li class="sort-element__item">
      Price
      <div class="sort-b">
        <div class="sort-up"></div>
        <div class="sort-down"></div>
      </div>
    </li>
  </ul>
  <div class="main__container">
    <ul class="tickets__list">
      <li class="tickets__item" *ngFor="let item of chosenTickets | async">
        <app-cart-item [cartItem]="item"></app-cart-item>
      </li>
    </ul>
    <div class="total__wrapper">
      <a class="new-trip" routerLink="/">
        + Add new trip
      </a>
      <div class="total">
        Total
        <div class="sum">{{currencyIcon}}{{totalCost}}</div>
      </div>
    </div>
    <div class="pay__section">
      <div class="promo">
        <input type="text" placeholder="Promo Code" class="promo-input" [(ngModel)]="promoValue">
        <button class="apply" (click)="applyPromo()">APPLY</button>
      </div>
      <div class="right-section">
        <div class="selected-amount">
          {{selectedTicketsAmount}} selected
        </div>
        <button class="pay-b">
          Payment
        </button>
      </div>
    </div>
  </div>
</div>
